# Dépendances
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docs

# Fichiers de build
dist
build

# Fichiers de développement
.env.local
.env.development
.env.test
.env
.env.example

# Logs
logs
*.log

# Fichiers temporaires
.tmp
.temp

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md
docs

# Scripts de développement
scripts

# Tests
coverage
.nyc_output

# Autres
*.md
.editorconfig
.eslintrc*
.prettierrc*
